@define-color bg-primary #ff0000;
@define-color bg-secondary #282828;
@define-color bg-tertiary #3c3836;
@define-color bg-selected #504945;

@define-color fg-primary #ebdbb2;
@define-color fg-secondary #d5c4a1;
@define-color fg-tertiary #bdae93;
@define-color fg-disabled #665c54;

@define-color accent-border #00ff00;
@define-color accent-green #78997A;
@define-color accent-red #B05A5A;
@define-color accent-blue #7699A3;
@define-color accent-purple #8D7AAE;

@define-color border-primary #504945;
@define-color border-focus #b8bb26;

@define-color mpris-album-art-overlay rgba(0, 0, 0, 0.55);
@define-color mpris-button-hover rgba(0, 0, 0, 0.5);
