@define-color bar-bg rgba(0, 0, 0, 0);

@define-color main-bg #11111b;
@define-color main-fg #cdd6f4;

@define-color wb-act-bg #a6adc8;
@define-color wb-act-fg #313244;

@define-color wb-hvr-bg #f5c2e7;
@define-color wb-hvr-fg #313244;

/* System Tray Colors */
@define-color tray-bg #11111b;
@define-color tray-active #a6adc8;
@define-color tray-attention rgba(255, 102, 153, 0.3);
